body{
    height: 100vh; 
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.secao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 744px;
    height: 353px;  
}

h1{
    width: 167px;
    height: 30.72px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22.7066px;
    line-height: 31px;
    color: #222222;
    text-align: center;
    }

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 744px;
    height: 285px;
    }

.caixa{
    margin: 6px;
    padding: 0px;
    border: 1px solid  #C4C4C4;
    box-sizing: border-box;
    max-width: 714px;
    height: 285px;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 233px;
    background: #FFFFFF;
}

.content{
    text-align: center;
    padding: 0px;   
       
}
P strong{

}

p{
   
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #4C6670;
       
}

strong{
    width: 200px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 50px;
    background: #ECF1F4;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    font-style: normal;
    border: 0;
}

i{
    color: #B3CCD5;
}







