main{
    
   
    width: 500px;
    background-color: #5380dc;;
    border: 1px #1b1a28 solid;
    
   
}

section{
    position: relative;
    width: 400px;
    background-color: white ;
    text-align: center;
    left: 10%;
    
}

h1{
   font-weight: 25px; 
   color: #205ec2;
  
}

h2{
    font-weight: 18px;
}